/*  reset HTML5 sheet than developed by Revital Agency */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; } ul, li{list-style: none;}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
a{text-decoration: none;}
/* END RESET CSS */

$light-green:			#94d169;
$dark-green:			#6fa549;
$light-blue:			#c6d9eb;
$blue:					#398fdf;
$medium-blue:			#5e8ab7;
$dark-blue:				#24384b;
$grey:					#777b80;



body{
	background: #232323;
	font-family: Myriad, Myriad Pro, Arial, sans-serif;
}
.clear{clear: both;}
.noborder{border: none !important;} .nbr{border-right: none !important;}

/* buttons */

.green-btn{
	border: none;
	vertical-align: middle;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	width: auto;
	padding: 8px 14px;
	cursor: pointer;
	background: $light-green;
	border-radius: 4px;
}
	.green-btn:hover{background: $dark-green;}


/* container */

.container{
  margin: 0 auto;
  padding: 20px 0;
  width: 1410px;
}  
  /* 1440x900 	5.26%  */
  @media (max-width: 1440px){ .container{width: 1230px;} }
  /* 1366x768 	20% */
  @media (max-width: 1366px){ .container{width: 1170px;} }
  /* 1280x1024 	5.20% */
  @media (max-width: 1280px){ .container{width: 1020px;} }
  /* 1024x768 	12.06% */
  @media (max-width: 1024px){ .container{width: 960px;} }
  /* anything below 960 is Tablet vertical or phone -  768x1024 - 5.06% */
  @media (max-width: 960px){ .container{width: 100%;} } 


/* COLUMNS */
.gutter{padding: 1%;}
.gutter-top{padding: 1% 0;}
.gutter-sides{padding: 0 1%;}

.col-two{width: 50%; float: left; margin: 5px 0;}
  @media (max-width: 960px){ .col-two{width: 100%; float: none;}}


.col-three{width: 33%; float: left; margin: 5px 0;}
  @media (max-width: 960px){ .col-three{width: 100%; float: none;}}

.col-six{width: 16%; float: left; margin: 5px 0;}
  @media (max-width: 960px){ .col-six{width: 100%; float: none;}} 
  
/* login */

#loginForm{
	margin: 40px auto;
	width: 30%;
	background: #f6f6f6;
	border: 2px solid $dark-blue;
	border-radius: 5px;
	overflow: hidden;
}

#loginForm h1{
	color: #FFF;
	padding: 8px;
	text-shadow: -1px -1px 0 $blue;
	font-size: 22px;
	background: $medium-blue;
	border-bottom: 1px solid $dark-blue;
}

#loginForm form{
	margin: 10px auto;
	width: 90%;
}
#loginForm input{
	border: 1px solid #666;
	background: #333;
	color: #FFF;
	width: 100%;
	font-size: 15px;
	padding: 8px 0;
	text-indent: 8px;
	border-radius: 5px;
	display: block;
	margin-bottom: 2px;
}
	#loginForm input:hover, #loginForm input:focus{
		border: 1px solid $dark-blue;
		background: #365879;
	}

#loginForm button{
	background: $grey;
	border: 1px solid #4e5156;
	padding: 6px 12px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	text-shadow: -1px -1px 0 #666;
	color: #FFF;
	border-radius: 5px;
}
#loginForm button:hover{background: $light-green; border: 1px solid $dark-green;}


#form_error{color: #000; font-style: italic; font-size: 12px;}
	#form_error .ui-state-error{padding: 1%;}

.validField{background: #76996a !important;}
.errorField{background: #803b3b !important;}

/*~~~~~~~*/

#sb-site{
	background: #232323;
	padding: 4px;
	
}

#topbar{
	background: #f6f6f6;
	margin-top: 3px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#topbar:after{ content: "."; visibility: hidden; display: block; height: 0; clear: both;}
#logout_top{
	color: #bdbdbb; 
	font-size: 18px;
	padding: 8px 8px 6px 8px;
	line-height: 30px;
	vertical-align: middle;
	width: 90px;
	height: 30px;
	cursor: pointer;
	float: right;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-align: center;
}
	#logout_top a{color: #bdbdbb;}
	#logout_top:hover{background: #c94912;}
	#logout_top:hover a{color: #FFF;}

/* SLIDEBAR */
#slidebar{ 
	color: #bdbdbb; 
	font-size: 18px;
	padding: 8px 8px 6px 8px;
	line-height: 30px;
	vertical-align: middle;
	width: 90px;
	height: 30px;
	position: relative;
	top: 0;
	cursor: pointer;
	float: left;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-align: center;
}
	#slidebar:hover{background: $medium-blue; color: #FFF;}
	
.sb-slidebar{
	height: 100%;
	overflow-y: auto; 
	position: fixed;
	top: 4px;
	z-index: 0; 
	visibility: hidden;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: #232323;
}
.sb-slidebar li{display: block; padding: 10px;}
.sb-slidebar a{
	display: block;
	border-bottom: 1px solid #333;
	color: #FFF;
	padding: 10px 7px;
	font-size: 18px;
}
.sb-slidebar a:hover{color: $medium-blue;}

/* SECTION */
section{
	background: #e7e7e6;
	

}

/* DATA */
.data-row{
	margin: 20px 0; 
	width: auto;
	border: 1px solid #f5f4f2;
	background: #f2f2f2;
	border-radius: 6px;
	overflow: hidden;
}
.data-row h1{
	background: #638aae;
	text-shadow: -1px -1px 0px $blue;
	width: auto;
	display: block;
	color: #FFF;
	padding: 10px;
	font-size: 22px;
	font-weight: 500;
}

.data-table{width: 100%;}
.data-table thead{display: table-header-group; vertical-align: middle;}
.data-table tbody{display: table-row-group; vertical-align: middle;}
.data-table tr{display: table-row;}
.data-table td{display: table-cell;}

.data-cell{
	background: -webkit-linear-gradient(#ffffff 0%, #f5f8f9 100%);
	border-top: 1px solid #e8ecee; border-bottom: 1px solid #e8ecee; border-right: 1px solid #e8ecee;
	font-size: 14px;
	color: #333;
	vertical-align: middle;
	height: 30px; line-height: 30px;
	padding: 1%; /* based on results, i have 5 right now*/
}
.half-cell{ }
.heading{
	background: $light-blue;
	color: #638aae;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}
.data-cell label{color: #9abdde; padding-right: 5px;}
.data-cell small{display: inline; font-size: 10px; letter-spacing: 1px;}

.update-cell{border-right: none; text-align: center;}
.update-cell button, .update-cell a{ background: none; font-size: 18px; color: #bdbdbb; text-align: center; border: none; cursor: pointer;}
.update-cell button:hover, .update-cell a:hover{color: $medium-blue;}

.data-cell input[type="text"]{
	background: #e1e1e1;
	border: 1px solid #b2b2b2;
	color: #333;
	font-size: 14px;
	padding: 4px 0;
	text-indent: 4px;
	border-radius: 4px;
	width: 95%;
}
.data-cell input[type="checkbox"]{display: inline;}


.default-form{
	
}
.default-form label{font-size: 16px; color: #333; margin-right: 15px;}
.default-form input[type="text"]{padding: 5px; width: 50%; font-size: 14px; border-radius: 3px;}
.default-form textarea{width: 100%; height: 400px;}
.markdown-help p{font-size: 14px; padding: 10px 10px 0 0; color: #222;}


/* uploads */
.uploaded-cell{text-align: center; color: #444; font-size: 15px;}
.uploaded-cell img{ height: 100px; margin: 10px;}



/*overrides*/
.height-off{height: auto !important; line-height: auto !important;}
.height-off .data-cell{height: auto !important; line-height: auto !important;}
.blog-row .data-cell{height: 40px; line-height: 20px;}

